@model ML.Empleado
@{
    ViewBag.Title = "CargaMasiva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-ml-12">
            <h2>Carga Masiva</h2>
            <hr>
        </div>
    </div>

    @using (Html.BeginForm("CargaMasiva", "Empleado", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row margen">
            <div class="col-md-9 text-center">
                <input type="file" name="fuTxtCargaMasivaEmpleado" />
                @Html.HiddenFor(model => model.Empleados)
            </div>

            @if (Model.Empleados == null)
            {
                <div class="col-md-3 text-center">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-info">Visualizar</button>
                        @Html.ActionLink("Regresar", "GetAll", "Empleado", new { @class = "btn btn-danger" })
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-pull-1 pull-right text-center">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-success">Cargar</button>
                    </div>
                </div>
            }
        </div>
    }

    @if (Model.Empleados != null)
    {
        <div class="table-responsive">
            <table class="table table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">Número Empleado</th>
                        <th scope="col">RFC</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido Paterno</th>
                        <th scope="col">Apellido Materno</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Fecha Nacimiento</th>
                        <th scope="col">NSS</th>
                        <th scope="col">Fecha Ingreso</th>
                        <th scope="col">IdEmpresa</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ML.Empleado empleado in Model.Empleados)
                    {
                        <tr>
                            <td>@empleado.NumeroEmpleado</td>
                            <td>@empleado.RFC</td>
                            <td>@empleado.Nombre</td>
                            <td>@empleado.ApellidoPaterno</td>
                            <td>@empleado.ApellidoMaterno</td>
                            <td>@empleado.Email</td>
                            <td>@empleado.Telefono</td>
                            <td>@empleado.FechaNacimiento</td>
                            <td>@empleado.NSS</td>
                            <td>@empleado.FechaIngreso</td>
                            <td>@empleado.Empresa.IdEmpresa</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

<script>
    function mostrarTXT() {
        document.getElementById('txt').style.display = 'block';
        document.getElementById('xls').style.display = 'none';
    }

    function mostrarXLS() {
        document.getElementById('txt').style.display = 'none';
        document.getElementById('xls').style.display = 'block';
    }
</script>
